{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0",
    "react",
    "flow",
  ],
  "ignore": ["node_modules/"],
  "plugins": ["transform-runtime"]
}
